body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-image: url('fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    width: 150px;
    border-radius: 10px;
	text-align: center;
	margin: 2em auto;
    transition: all 0.5s;
}
h1:hover{
    background-color: rgb(158, 255, 255);
    opacity: 0.7;
}
form {
	width: 400px;
	margin: 50px auto;
	background-color: #eba8ff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
}
label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
	width: 90%;
	padding: 15px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
}
input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
    margin: 0 auto;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    opacity: 1;
}
input[type="submit"]:hover {
	background-color: #3e8e41;
}
